{% extends "layout.html" %}
{% block content %}

<h2> Update your user account </h2>
<form action="/edit/{{ user.id }}" method="POST">
    <p>Please type your new username: <br><input type="text" name="username" minlength="1" maxlength="20" value="{{ user.username }}"></p>
    
    <p>Please type your new password: <br><input type="password" name="password"></p>
    
    <br>
    <br>

    <input type="submit" value="Update">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <br>
    <a href="/registered">Back</a>
</form>

{% endblock %}
